.App{
height: auto;
  width: auto;
  background-color:cornflowerblue;
  margin: 0;
  padding: 0;


}
body{
  margin: 0;
  padding: 0;

}
.Button{
  display: block;
  align-items: end;
}
.Sidebar {
  position: absolute;
  height: 100%;
  width: 250px;
  background-color: cornflowerblue;
}
.PhoneTextFields{
  margin-top: 0px;
  width: auto;
  height: auto;
}


.SidebarList{
  height: auto;
  padding: 0;
  width: 100%;
  border-color: aqua;
}
.SidebarList .row{
  width: 100%;
  height: 50px;
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.SidebarList .row:hover{
  cursor: pointer;
  background-color: mediumpurple;
}
.SidebarList #active{
  background-color: mediumpurple;
}
.butoaneActiuni{
  color: aqua;
  margin-left: 10px;
}

.row #icon{
  flex: 30%;
  display: grid;
  place-items: center;
}

.row #title{

  flex: 70%;
}


